<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yamind.cloud.modules.app.dao.DeviceManageMapper">



	<!--历史数据-设备信息列表-->
	<select id="listForDevice" parameterType="java.lang.String" resultType="com.yamind.cloud.modules.app.entity.DeviceDataEntity">
		SELECT
		c.id,
		c.user_id,
		c.device_serial,
		c.device_type,
		c.bind_time,
		c.mac,
		c.version
		FROM
		app_device c
		<where>
				AND c.user_id =#{userId}
		</where>
	</select>



	<!--用户绑定设备-->
	<insert id="bindUserDeviceInfo" parameterType="com.yamind.cloud.modules.app.entity.DeviceDataEntity" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO app_device (
			user_id,
			device_serial,
			device_type,
			bind_time,
			mac,
			version
		)
		VALUES (
  			#{userId},
			#{deviceSerial},
			#{deviceType},
			#{bindTime},
			#{mac},
			#{version}
			)
	</insert>


	<!--删除用户解绑设备-->
	<delete id="deleteUserDeviceInfo">
		DELETE FROM app_device WHERE user_id=#{userId} and device_serial=#{serial}
	</delete>

	<!--更新软件版本号-->
	<update id="update">
		UPDATE app_device
		<set>
			<if test="version != null">version = #{version} </if>
		</set>
		WHERE
	  		user_id = #{userId} AND device_serial = #{deviceSerial}
	</update>

</mapper>