<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yamind.cloud.modules.app.dao.ProductStoreMapper">


	<insert id="save" parameterType="com.yamind.cloud.modules.app.entity.ProductStoreEntity" useGeneratedKeys="true" keyProperty="userId">
		INSERT INTO app_store (
			product_name,
			title,
			price,
			link,
			img_path,
			create_time
		)
		VALUES (
			#{productName},
			#{title},
			#{price},
			#{link},
			#{imgPath},
			#{createTime}
			)
	</insert>

	<update id="update">
		UPDATE app_store
		<set>
			<if test="id != null">id = #{id}, </if>
			<if test="productName != null">product_name = #{productName}, </if>
			<if test="title != null">title = #{title}, </if>
			<if test="price != null">price = #{price}, </if>
			<if test="link != null">link = #{link}, </if>
			<if test="imgPath != null">img_path = #{imgPath}, </if>
			<if test="createTime != null">create_time = #{createTime} </if>
		</set>
		WHERE
		mobile = #{mobile}
	</update>



	<select id="listForProductStoreList" resultType="com.yamind.cloud.modules.app.entity.ProductStoreEntity">
		SELECT
			id,
			product_name,
			title,
			price,
			link,
			img_path,
			create_time
		FROM
		app_store
	</select>

</mapper>