<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="include/header_css::header('APP用户管理')"></head>
<body>
<div id="dyLTE" class="container-fluid" v-cloak>
    <div class="row">
        <div class="col-md-4 form-inline pull-left">
            <div class="form-group">
                <input v-model="keyword" @keyup.enter="load" class="form-control" th:placeholder="#{inputUserName}" style="width: 220px;" />
            </div>
            <div class="form-group">
                <a class="btn btn-primary" @click="load"><i class="fa fa-search"></i>&nbsp;[[#{find}]]</a>
            </div>
        </div>
        <div class="col-md-8">
            <div class="btn-toolbar pull-right">
                <div class="btn-group">
                    <a v-if="hasPermission('sys:user:list')" class="btn btn-default" onclick="reload();"><i class="fa fa-refresh"></i>&nbsp;[[#{refresh}]]</a>
                    <a v-if="hasPermission('sys:user:save')" class="btn btn-default" @click="save"><i class="fa fa-plus"></i>&nbsp;[[#{add}]]</a>
                    <a v-if="hasPermission('sys:user:edit')" class="btn btn-default" @click="edit"><i class="fa fa-pencil-square-o"></i>&nbsp;[[#{edit}]]</a>
                    <a v-if="hasPermission('sys:user:remove')" class="btn btn-default" @click="remove"><i class="fa fa-trash-o"></i>&nbsp;[[#{delete}]]</a>
                </div>
                <div class="btn-group">
                    <a v-if="hasPermission('sys:user:disable')" class="btn btn-default" @click="disable"><i class="fa fa-pause"></i>&nbsp;[[#{userAdd.statusOff}]]</a>
                    <a v-if="hasPermission('sys:user:enable')" class="btn btn-default" @click="enable"><i class="fa fa-play"></i>&nbsp;[[#{userAdd.statusOn}]]</a>
                    <a v-if="hasPermission('sys:user:resetPassword')" class="btn btn-default" @click="reset"><i class="fa fa-key"></i>&nbsp;[[#{resetPsw}]]</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <table id="dataGrid"></table>
    </div>
</div>
<div th:include="include/footer_js::footer"></div>
<script th:src="@{/js/base/app/list.js}"></script>
</body>
</html>