<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yamind.cloud.modules.sys.dao.SysCureDataMapper">

	<!--历史数据-设备信息列表-->
	<select id="listForPage" resultType="com.yamind.cloud.modules.sys.entity.SysCureDataEntity">
		SELECT
		c.id,
		DATE_FORMAT(c.cure_time,"%Y-%m-%d")as cureTime,
		c.bootSerial,
		c.real_flow,
		c.leakage,
		c.cure_stress,
		c.respiratory_rate,
		c.tidal_volume
		c.minu_throughput,
		c.ai,
		c.hi
		FROM
		sys_curedata c
		<where>
		c.bootSerial=#{serialId}
		</where>
		group by DATE_FORMAT(c.cure_time, "%Y-%m-%d" )
		ORDER BY
		c.id ASC
	</select>


	<!--历史数据-设备信息列表-->
	<select id="getGroupCureData" parameterType="java.lang.String" resultType="com.yamind.cloud.modules.sys.entity.SysCureDataEntity">
		SELECT
		c.id,
		DATE_FORMAT(c.cure_time,"%Y-%m-%d")as cureTime,
		c.bootSerial,
		c.real_flow,
		c.leakage,
		c.cure_stress,
		c.respiratory_rate,
		c.tidal_volume,
		c.minu_throughput,
		c.ai,
		c.hi
		FROM
		sys_curedata c
		<where>
				AND c.bootSerial LIKE concat('%',#{serialId},'%')
		</where>
		group by DATE_FORMAT(c.cure_time, "%Y-%m-%d" )
		ORDER BY
		c.id DESC
	</select>

	<!--获取历史数据中 统计信息的列表-->
	<select id="listForHistoryStatData" resultType="com.yamind.cloud.modules.sys.entity.SysCureDataEntity">
		SELECT
		c.id,
		c.cure_time,
		c.mode,
		c.bootSerial,
		c.cure_stress,
		c.min_stress,
		c.max_stress,
		c.max_inhaleStress,
		c.inhale_stress,
		c.exhale_stress,
		c.respiratory_rate,
		c.inhale_time,
		c.inhale_sensitivity,
		c.exhale_sensitivity,
		c.stress_up,
		c.stress_down,
		c.avaps,
--		c.soft_version
		FROM
		sys_curedata c
		<where>
				c.cure_time BETWEEN #{startDate} and #{endDate}

	 	AND c.bootSerial =#{serialId} ORDER BY cure_time ASC
		</where>
	</select>


	<!--获取历史数据中 统计信息的列表-->
	<select id="getStatCount" resultType="int">
		SELECT
		COUNT(*)
		FROM
		sys_curedata
		<where>
			cure_time BETWEEN #{startDate} and #{endDate}
			AND bootSerial =#{serialId} ORDER BY cure_time ASC
		</where>
	</select>


	<!--获取历史数据中 统计信息的列表-->
	<select id="getStatDataMaxAndAvg" resultType="hashmap">
		SELECT
		AVG(c.cure_stress) as ylpjz,
		MAX(c.cure_stress) as ylzdz,
		AVG(c.inhale_stress) as xqylpjz,
		MAX(c.inhale_stress) as xqylzdz,
		AVG(c.exhale_stress) as hqylpjz,
		MAX(c.exhale_stress) as hqylzdz,
		AVG(c.ai) as aipjz,
		AVG(c.hi) as hipjz,
		MAX(c.ai+c.hi) as zdahi,
		AVG(c.ai+c.hi) as pjahi,
		AVG(c.minu_throughput) as fztqlpjz,
		MAX(c.minu_throughput) as fztqzdz,
		AVG(c.tidal_volume) as cqlpjz,
		MAX(c.tidal_volume) as cqlzdz,
		AVG(c.respiratory_rate) as hxplpjz,
		MAX(c.respiratory_rate) as hxplzdz,
		AVG(c.leakage) as lqlpjz
		FROM
		sys_curedata c
	WHERE
			c.cure_time BETWEEN #{startDate} and #{endDate}
	 	AND c.bootSerial =#{serialId} ORDER BY cure_time DESC
	</select>




	<!--保存治疗数据sql-->
	<insert id="save" parameterType="com.yamind.cloud.modules.sys.entity.SysCureDataEntity" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO sys_curedata (
			cure_time,
			bootSerial,
			real_flow1,
			real_flow2,
			real_flow3,
			real_flow4,
			real_flow5,
			leakage,
			cure_stress,
			cure_stress2,
			cure_stress3,
			cure_stress4,
			cure_stress5,
			respiratory_rate,
			tidal_volume,
			minu_throughput,
			ai,
			hi,
			xhb,
			inhale_stress,
			exhale_stress,
			flag
		)
		VALUES (
  			#{cureTime},
			#{bootSerial},
			#{realFlow1},
			#{realFlow2},
			#{realFlow3},
			#{realFlow4},
			#{realFlow5},
			#{leakage},
			#{cureStress},
			#{cureStress2},
			#{cureStress3},
			#{cureStress4},
			#{cureStress5},
			#{respiratoryRate},
			#{tidalVolume},
			#{minusTroughput},
			#{aiCount},
			#{hiCount},
			#{xhb},
			#{inhaleStress},
			#{exhaleStress},
			0
		)
	</insert>


	<!--查询所选时间的使用天数-->

	<select id="getUseDayCount" resultType="int">
			SELECT
		COUNT(*)
	FROM
		(
			SELECT
				cure_time
			FROM
				sys_curedata
				WHERE bootSerial=#{serialId} AND cure_time BETWEEN #{startDate} and #{endDate}
			GROUP BY
				DATE_FORMAT(cure_time, "%Y%M%D")
		) AS count
	</select>



	<!--按字段排序查询统计信息数据-->
	<select id="listForColData" resultType="String" fetchSize="1000">
		SELECT
			${colName}
		FROM
		sys_curedata
		WHERE
			cure_time BETWEEN #{startDate} and #{endDate}
			AND bootSerial =#{serialId} ORDER BY #{colName} ASC
	</select>

	<!--查询统计信息数据-->
	<select id="listForColData2" resultType="com.yamind.cloud.modules.sys.entity.SysCureDataEntity" parameterType="java.util.Map" fetchSize="1000">
		SELECT
			${colName}
		FROM
		sys_curedata
		WHERE
			cure_time BETWEEN #{startDate} and #{endDate}
			AND bootSerial =#{serialId}
	</select>


	<!--按日期查询95值 统计信息信息数据-->
	<select id="listForDateStatInfo" parameterType="java.lang.String" resultType="String" fetchSize="1000">
		SELECT
			${niceCol}
		FROM
		sys_curedata
		<where>
				cure_time BETWEEN #{niceStart} and #{niceEnd}
		AND bootSerial =#{serialId} ORDER BY #{niceCol} ASC
		</where>
	</select>


	<!--按序列号查询 分组数据  曲线图处用-->
	<select id="findMapWithSerial"  resultType="com.yamind.cloud.modules.sys.entity.SysCureDataEntity">
		SELECT
		c.id,
		DATE_FORMAT(c.cure_time, "%H:%i:%s" ) as cureTime,
		c.bootSerial,
		c.real_flow1,
		c.real_flow2,
		c.real_flow3,
		c.real_flow4,
		c.real_flow5,
		c.cure_stress,
		c.cure_stress2,
		c.cure_stress3,
		c.cure_stress4,
		c.cure_stress5,
		c.inhale_stress,
		c.exhale_stress
		FROM
		sys_curedata c
		<where>
				c.cure_time BETWEEN #{seleceTime} and #{endTime}
			AND c.bootSerial =#{serialId} ORDER BY c.cure_time ASC limit 10000
		</where>
	</select>


	<!--获取数据状态  同步京东方数据-->
	<select id="listForBoeDataFlag" resultType="com.yamind.cloud.modules.sys.entity.SysCureDataBoeEntity">
		SELECT
			c.id,
			c.bootSerial,
			c.cure_time,
			c.leakage,
			c.cure_stress,
			c.ai,
			c.hi
		FROM
			sys_curedata c
		<where>
			c.bootSerial =#{serialId} and c.cure_time > #{starTime} and c.flag = 0 limit 50
		</where>

	</select>

	<!--更新字段  同步京东方数据-->
	<update id="updateForFlag" parameterType="java.util.List">
		<foreach collection="list" item="idList" index="index" open="" close="" separator=";">
			UPDATE sys_curedata
			<set>
				flag=1
			</set>
			<where>
				id = #{idList}
			</where>
		</foreach>
	</update>




	<!--按日期查询数据 曲线图里用-->
	<select id="findMapListWithDate" parameterType="java.lang.String" resultType="com.yamind.cloud.modules.sys.entity.SysCureDataEntity">
		SELECT
		c.id,
		c.cure_time,
		c.mode,
		c.bootSerial,
		c.cure_stress,
		c.min_stress,
		c.max_stress,
		c.max_inhaleStress,
		c.inhale_stress,
		c.exhale_stress,
		c.respiratory_rate,
		c.inhale_time,
		c.inhale_sensitivity,
		c.exhale_sensitivity,
		c.stress_up,
		c.stress_down,
		c.avaps,
		c.soft_version
		FROM
		sys_curedata c
		<where>
			c.cure_time BETWEEN #{niceStart} and #{niceEnd}
			AND c.bootSerial =#{serialId} ORDER BY c.cure_time ASC
		</where>
	</select>

	<delete id="delectOldTimeData">
		DELETE FROM sys_curedata WHERE DATEDIFF(now(),cure_time)>7
	</delete>
</mapper>