<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yamind.cloud.modules.sys.dao.SysPrimarySieveMapper">


	<select id="listForPage" resultType="com.yamind.cloud.modules.sys.entity.SysPrimarySieveEntity">
		SELECT
			m1.*,
			u1.user_nickname,
			u1.mobile,
			u1.user_email
		FROM
			daya_mechine m1
		INNER JOIN daya_user u1 ON u1.id = m1.user_id
		ORDER BY
			m1.start_time DESC
	</select>


</mapper>