<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title th:text="#{logo}"></title>
<meta
	content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
	name="viewport">
<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/font-awesome.min.css">
<link rel="stylesheet" href="css/style.min.css">
<link rel="stylesheet" href="css/common.min.css">
<link rel="stylesheet" href="css/bootstrap-table.min.css">
</head>
<body class="hold-transition skin-blue sidebar-mini">
	<div class="wrapper" id="dyLTE" v-cloak>
		<header class="main-header">
			<a href="javascript:void(0);" class="logo"> <span
				class="logo-mini" th:text="#{logo}"><b>云平台</b></span> <span class="logo-lg" th:text="#{logo}"></span>
			</a>
			<nav class="navbar navbar-static-top" role="navigation">
				<a href="#" class="sidebar-toggle" data-toggle="offcanvas"
					role="button" @click="hideMenu"> <span class="sr-only">Toggle
						navigation</span>
				</a>
				<div style="float: left; color: #fff; padding: 15px 10px;">[[#{welcome}]]
					{{user.username}}</div>
				<div class="navbar-custom-menu">
					<ul class="nav navbar-nav">
						<li><a href="index.html"><i
								class="fa fa-home"></i> &nbsp;[[#{index.home}]]</a></li>
						<!--<li><a href="index_tab.html" target="_blank"><i-->
								<!--class="fa fa-bookmark"></i> &nbsp;TABS</a></li>-->
						<!--<li><a href="http://dp-dev.mydoc.io/" target="_blank"><i-->
								<!--class="fa fa-paper-plane"></i> &nbsp;项目文档</a></li>-->
						<!--<li><a href="http://www.chenlintech.com/" target="_blank"><i-->
								<!--class="fa fa-info-circle"></i> &nbsp;关于作者</a></li>-->
						<li><a href="javascript:;" @click="updatePassword"><i
								class="fa fa-lock"></i> &nbsp;[[#{index.resetPsw}]]</a></li>
						<li><a href="javascript:;" @click="logout"><i
								class="fa fa-sign-out"></i> &nbsp;[[#{index.exit}]]</a></li>

					</ul>
				</div>
			</nav>
		</header>

		<!-- 导航菜单 -->
		<aside class="main-sidebar">
			<section class="sidebar">
				<ul class="sidebar-menu" id="sidebar-menu">
					<li class="header">[[#{navigationMenu}]]</li>
					<menu-item :item="item" v-for="item in menuList"></menu-item>
				</ul>
			</section>
		</aside>1310  310 +70
		<!-- 路径导航 -->355   1460
		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<section class="content-header">
				<ol class="breadcrumb" id="nav_title"
					style="position: static; float: none;">
					<li class="active"><i class="fa fa-home"
						style="font-size: 20px; position: relative; top: 2px; left: -3px;"></i>
						&nbsp; [[#{home}]]</li>
					<li class="active">{{navTitle}}</li>
				</ol>
			</section>

			<!-- 主界面 -->
			<section class="content" style="background: #fff;">
				<iframe scrolling="yes" frameborder="0"
					style="width: 100%; min-height: 200px; overflow: visible; background: #fff;"
					:src="main" id="main" name="main"></iframe>
			</section>
		</div>

		<footer class="main-footer">
			<!--<div class="pull-right hidden-xs"><p><b>当前活跃用户:3  ;在线设备数量:5 ;</b></p></div>-->
			<div class="pull-right hidden-xs"></div>
			Copyright &copy; 2018 <a href=""
				target="_blank"></a> All Rights Reserved; Version: 1.0.1
		</footer>

		<div class="control-sidebar-bg"></div>

		<!-- 修改密码 -->
		<div id="passwordLayer" class="container-fluid" style="display: none;">
			<table class="form">
				<tr>
					<td class="formTitle">[[#{accout}]]</td>
					<td class="formValue"><span class="label label-success"
						style="vertical-align: bottom;">{{user.username}}</span></td>
				</tr>
				<tr>
					<td class="formTitle">[[#{oldPsw}]]</td>
					<td class="formValue"><input type="password"
						class="form-control" v-model="pswd" th:placeholder="#{oldPsw}"  id="oldPswd"/></td>
				</tr>
				<tr>
					<td class="formTitle">[[#{nowPsw}]]<font face="宋体">*</font></td>
					<td class="formValue"><input type="text" class="form-control"
						v-model="newPswd" th:placeholder="#{nowPsw}" id="newPswd"/></td>
				</tr>
			</table>
		</div>

	</div>

	<script src="libs/jquery.min.js"></script>
	<script src="libs/vue.min.js"></script>
	<script src="libs/router.js"></script>
	<script src="libs/bootstrap.min.js"></script>
	<script src="libs/jquery.slimscroll.min.js"></script>
	<script src="plugins/layer/layer.js"></script>
	<script src="js/common.js"></script>
	<script src="js/index.js"></script>
	<script src="js/echarts.min.js"></script>
	<!--<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>-->
	<script src="https://cdn.bootcss.com/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
</body>

</html>
